{% extends 'basetable.html' %}

{% block header_text %}Gold Price History{% endblock %}

{% block title_text %}Gold Price History{% endblock %}

{% block table %}
        <table id="id_gold" class="table table-striped">
            <tr>
             <th>Date</th>
             <th>Buy Price</th>
             <th>Sell Price</th>
            </tr>
            {% for gold in goldall %}
            <tr>    
             <td>{{ gold.add_time }}</td> 
             <td>{{ gold.buy_price }}</td>
             <td>{{ gold.sell_price }}</td>
            </tr>
            {% endfor %}
    </table>
{% endblock %}

