{% extends 'base.html' %}
{% block header_text %}Log in{% endblock %}
{% block form %}
  <form method="POST" action="login">
  {% csrf_token %}
    <label for="username">Username</label><br/>
    <input type="text" name="username" id="id_usr"><br/>
    <label for="password">Password</label><br/>
    <input type="password" name="password" id="id_pw"><br/>
    <button type="submit" name="submit" id="id_sub">Sign In</button><br/><br/>
    <a href="/register">Create your account</a>
  </form>
{% endblock %}
