<html>
   <title>Saving Management</title>
   <body>
    <h1>Enter your income or outcome</h1>
    <form method="POST">
        <input type="radio" name="type" id="id_type" value="income"> income<br>
        <input type="radio" name="type" id="id_type2" value="outcome" checked> outcome<br><br>
        <input name="value" id="id_val" placeholder="Amount" />
        <input name="description" id="id_des" placeholder="Description" />
        <input type="submit" id="id_sub" value="Submit">
        {% csrf_token %}
    </form>
    <table id="saving_table">
        <tr>
             <th>Description</th>
             <th>Amount</th>
             <th>Type</th>
             <th>Date</th>
        </tr>
            {% for item in items %}
        <tr>    
            <td>{{ item.description }}</td> 
            <td>{{ item.amount }}</td>
            <td>{{ item.sav_type }}</td>
            <td>{{ item.sav_time }}</td>
        </tr>
            {% endfor %}
    </table>
    <a href='/'>Back</a>
   </body>
</html>
